name: Build and deploy 'Katty.Tools' package

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@main

    - name: Set up .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '6.0.x'    

    - name: Build with dotnet
      run: dotnet build --configuration Release

    - name: Test the package
      run: dotnet test

    - name: Create the package
      run: dotnet pack --configuration Release

    - name: Publish to Nuget
      run: dotnet nuget push "./Encrypt/bin/Release/*.nupkg" -k ${{ secrets.NUGET_TOKEN }} -s https://api.nuget.org/v3/index.json
